html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #050053;
}

#sky {
  position: absolute;
  width: 100px;
  height: 277px;
  top: 50px;
  left: 50%;
  margin-left: -50px;
}

#reflection {
  position: absolute;
  width: 450px;
  height: 610px;
  left: 50%;
  margin-left: -225px;
  transform: perspective(430px) rotateX(80deg);
}

#reflection g {
  filter: url(#displacementFilter);
}

.water {
  background: linear-gradient(to bottom, #00006b 0%, #00004e 70%);
  position: absolute;
  top: 276px;
  left: 0;
  right: 0;
  bottom: 0;
}

iframe {
  position: absolute !important;
  opacity: 0.7;
  bottom: 10%;
}

.twitter-share-button {
  right: 51%;
}

.twitter-follow-button {
  left: 51%;
}
